* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0a0a23;
}

.container {
  border: 2px solid black;
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  background-color: #39ff14;
  border-radius: 20px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  text-shadow:
  1px 1px 2px black,
  0 0 1em blue,
  0 0 0.2em blue;
color: white;
font:
  1.5em Georgia,
  serif;
}


#input {
  margin-top: 50px;
  margin-left: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
}
#wrd-chr {
  margin-left: 16px;
  margin-top: 70px;
  line-height: 30px;
  letter-spacing: 2px;
 
  color: rgb(11, 10, 10);
  font:
    1.5em Georgia,
    serif;
}

