* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0a0a23;
}

.container {
  border: 2px solid black;
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  background-color: #39ff14;
  border-radius: 20px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  text-shadow:
  1px 1px 2px black,
  0 0 1em blue,
  0 0 0.2em blue;
color: white;
font:
  1.5em Georgia,
  serif;
}


#input {
  margin-top: 50px;
  margin-left: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
}
#wrd-chr {
  margin-left: 16px;
  margin-top: 70px;
  line-height: 30px;
  letter-spacing: 2px;
 
  color: rgb(11, 10, 10);
  font:
    1.5em Georgia,
    serif;
}
/* Responsive for tablets */
@media (max-width: 768px) {
  .container {
    width: 95%;
    min-height: 450px;
  }

  h2 {
    font-size: 1.3em;
  }

  #input {
    margin-top: 40px;
    font-size: 0.9em;
  }

  #wrd-chr {
    margin-top: 50px;
    font-size: 1em;
    line-height: 25px;
  }
}

/* Responsive for mobile */
@media (max-width: 480px) {
  .container {
    width: 90%;
    min-height: 400px;
    padding: 15px;
  }

  h2 {
    font-size: 1.1em;
  }

  #input {
    margin-top: 30px;
    font-size: 0.85em;
    padding: 8px;
  }

  #wrd-chr {
    margin-top: 40px;
    font-size: 0.95em;
    line-height: 22px;
  }
}
